/* body{
 background:linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),url('/favicon.ico') no-repeat center;
 background-size: cover;

} */

.compliment_container {
  position: relative;
  top: 20px;
  margin: auto;
  background-color: yellow;
  max-width: 650px;
  
  border: solid 8px black;
  border-radius: 60px;
  box-shadow: 10px 8px 8px #36454f ;
}
.greeting {
  margin-left: 40px;
  max-width: 200px;
}
.logout_container{
  margin: 30px;
  position: relative;
  left: 490px;
  top: 5px;
  background-color: #4CAF5;
}

.praise_me {
  align-right: content;
  position: relative;
  left: 390px;
  width: 220px;
  height: 60px;
}

.praise_me h2 {
  font-size: 20px;
  position: absolute;
  top: 1px;
  left: 60px;

}

.praise_me img{
  position: absolute;
  height: 47px;
  left: 5px;
  top: 5px
}

h1 {

  margin: 0px;
}

/* label {
  margin-left: 30px;
  margin-right: 30px;
} */

/* h3.twitter {

} */



button:hover {
  background-color: #15f30d;
  color: black;
}

.praise_me:hover {
  background-color: #f30de3;

}
.praise_me:clicked {
  background-color: #f68204;
}

button p {
  margin: 0;
}

button.praise_me p {
  font-size: 20px;
  margin-left: 40px;
}

button.tweet {
  background-color: blue;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 44px;
}

p {
  font-size: 15px;
}


button.tweet:hover {
  background-color: lightblue;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: solid 1px #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}


.compliment {
  text-align: center;
  background-color: white;
  padding: 20px;
  border: 4px solid black;
  min-height: 170px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.compliment h2 {
  font-size: 40px;
}

/* form.tweet_mate {
  max-height: 100px;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
} */

.tweet_mate {
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
}

h3  {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

input.twitter_handle {
  padding: 12px;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
