form{
  padding: 1em;
}

input{
  width:300px;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

.loginForm{
  align-content: right;
}

h1{
  font-size: 100px;
  text-align: center;
}

#login{
  text-align:center;
}

h2{
  text-align: center;
}

a{
  text-decoration: none;
}

button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  /* border: solid 1px #000; */
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

label{
  font-size: 20px;
}

#twitterFeed{
  width: 300px;
  height: 300px;
  margin-left: 20px;
  position: relative;
  float: right;
}

#container{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items:center;
  padding-left: 250px
}
